.profile__edit-button {
  background-color: transparent;
  align-self: end;
  cursor: pointer;
  box-sizing: border-box;
  min-width: 24px;
  min-height: 24px;
  width: 24px;
  height: 24px;
  border: 1px solid #FFFFFF;
  margin-bottom: 8.5px;
  background-image: url(../../../images/02profile/edit_button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 10px;

}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media (max-width: 400px) {
  .profile__edit-button {
    background-size: 7.5px 7.5px;
    min-width: 18px;
    min-height: 18px;
    width: 18px;
    height: 18px;
    margin-bottom: 6px;
  }
}