.popup__textarea {
  box-sizing: border-box;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom:rgba(0, 0, 0, 0.2) solid 1px;
  padding-bottom: 9px;
}

.popup__textarea:focus {
  outline: none;
}